.signUpPage{
    background-image: url("/public/transport-background.png");
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signUp{
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 25rem;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    justify-content: flex-start;
    padding: 2rem;
    padding-left: 4rem;
    border-radius: 1rem;
  }
  
  .signUp h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .signUpForm{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
   
  }
  
  .signUpForm input {
    width: 15rem;
    height: 1.7rem;
    border-radius: 0.3rem;
    border:2px solid rgb(5, 5, 5);
    margin-bottom: 1rem; 
  }
  
  .signUpForm input:hover{
  
    border:2px solid  rgb(155, 155, 155);
  
  }
  
  .signUpForm button{
    width: 5rem;
    height: 2rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 0.4rem;
    color:black;
  }
  
  .signUpForm button:hover{
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
  }
  
  .signUpForm p{
  
    padding-bottom: 1rem;
  
  }
  
  .instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: absolute;
    top : 24rem;
    width: 18rem;
  
  }
  
  .instructions2 {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: absolute;
    top : 28rem;
    width: 18rem;
  
  }
  .instructions > svg {
    margin-right: 0.25rem;
  }
  
  .offscreen {
    position: absolute;
    left: -9999px;
  }
  .hide {
    display: none;
  }
  .valid {
    color: limegreen;
    margin-left: 0.25rem;
  }
  
  .invalid {
    color: red;
    margin-left: 0.25rem;
  }
  .errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .link_compte {
    display: inline-block;
    
  }
  .link_compte a{
    text-decoration:underline;
    color: black ;
    
  }
  .link_compte a:hover{
    text-decoration: none;
    color:rgb(39, 37, 37);
  }
  