
.columnProduct1 {
    width: 50px;
    padding-left: 40px;

}


.columnProduct2 {
    width: 160px
}

.columnProduct3 {
    width: 100px;
    text-align: center;
}

.columnProduct4 {
    width: 110px;
    text-align: center;
}

.columnProduct5 {
    width: 100px;
    text-align: center;
}

.columnProduct6 {
    width: 100px;
    text-align: center;
}

.columnProduct7 {
    width: 100px;
    text-align: center;
}

.columnProduct8 {
    width: 10px;
    text-align: right;
    padding-right: 62px;
    
}


@media screen and (max-width:992px) {
    

    table tbody tr .columnProduct2:before {
        content: "Nom"
    }

    table tbody tr .columnProduct3:before {
        content: "Poids"
    }

    table tbody tr .columnProduct4:before {
        content: "Hauteur"
    }

    table tbody tr .columnProduct5:before {
        content: "Largeur"
    }
    table tbody tr .columnProduct6:before {
        content: "Profondeur"
    }
    table tbody tr .columnProduct7:before {
        content: "Quanité"
    }

    .columnProduct1,
    .columnProduct2,
    .columnProduct3,
    .columnProduct4,
    .columnProduct5,
    .columnProduct6,
    .columnProduct7,
    .columnProduct8{
        text-align: left
    }




}




  