

.column1 {
    width: 50px;
    padding-left: 40px;

}



.column2 {
    width: 160px
}

.column3 {
    width: 100px;
    text-align: center;
}

.column4 {
    width: 110px;
    text-align: center;
}

.column5 {
    width: 100px;
    text-align: center;
}




@media screen and (max-width:992px) {
    

    table tbody tr td:nth-child(2):before {
        content: "Nom"
    }

    table tbody tr td:nth-child(3):before {
        content: "Adresse"
    }

    table tbody tr td:nth-child(4):before {
        content: "Nombre d'achat"
    }

    table tbody tr td:nth-child(5):before {
        content: "Rang"
    }



    .column1,
    .column2,
    .column3,
    .column4,
    .column5,
    .column6{
        text-align: left
    }

    td,th {
        width: 100%
    }


}

  