
.columnClient1 {
    width: 30px;
    padding-left: 40px;

}

.columnClient2 {
    width: 150px
}

.columnClient3 {
    width: 100px;
    text-align: center;
}

.columnClient4 {
    width: 110px;
    text-align: center;
}

.columnClient5 {
    width: 100px;
    text-align: center;
}

.columnClient6 {
    width: 100px;
    text-align: center;
}





@media screen and (max-width:992px) {
    

    table tbody tr .columnClient2:before {
        content: "Nom"
    }

    table tbody tr .columnClient3:before {
        content: "Adresse"
    }

    table tbody tr .columnClient4::before {
        content: "Nombre d'achat"
    }

    table tbody tr .columnClient5:before {
        content: "Rang"
    }
    table tbody tr .columnClient5:before {
        content: none;
    }



    .columnClient1,
    .columnClient2,
    .columnClient3,
    .columnClient4,
    .columnClient5,
    .columnClient6{
        text-align: left
    }

    td,th {
        width: 100%
    }


}

  