
.column1 {
    width: 50px;
    padding-left: 40px;

}


.column2 {
    width: 160px
}

.column3 {
    width: 100px;
    text-align: center;
}

.column4 {
    width: 110px;
    text-align: center;
}

.column5 {
    width: 100px;
    text-align: center;
}

.column6 {
    width: 100px;
    text-align: center;
}

.column7 {
    width: 100px;
    text-align: center;
}

.column8 {
    width: 10px;
    text-align: right;
    padding-right: 62px;
    
}


@media screen and (max-width:992px) {
    

    table tbody tr .columnProduct2:before {
        content: "Nom"
    }

    table tbody tr .columnProduct3:before {
        content: "Poids"
    }

    table tbody tr .columnProduct4:before {
        content: "Hauteur"
    }

    table tbody tr .columnProduct5:before {
        content: "Largeur"
    }
    table tbody tr .columnProduct6:before {
        content: "Profondeur"
    }
    table tbody tr .columnProduct7:before {
        content: "Quanité"
    }

    .column1,
    .column2,
    .column3,
    .column4,
    .column5,
    .column6,
    .column7,
    .column8{
        text-align: left
    }




}




  