.wrap-table100 {
    width: 100px
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative
}

table * {
    position: relative
}

table td,
table th {
    padding-left: 8px
}

table thead tr {
    height: 60px;
    background: white;
}

table tbody tr {
    height: 50px
}

table tbody tr:last-child {
    border: 0
}

table td,
table th {
    text-align: left
}

table td.l,
table th.l {
    text-align: right
}

table td.c,
table th.c {
    text-align: center
}

table td.r,
table th.r {
    text-align: center
}

.table100-head th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset
}



tbody tr {
    font-size: 15px;
    line-height: 1.2;
    font-weight: unset
}


td.column2 a {
    text-decoration: none;
    color: rgb(81, 80, 80);
}
td.column2 a:hover{
    cursor: pointer;
    color: black;
}

.column1 {
    width: 50px;
    padding-left: 40px;

}

.column1 a{
    text-decoration: none;
    color: black;
}
.column1 a:hover{
    color: rgb(64, 64, 64);
    cursor: pointer;
}

.column2 {
    width: 160px
}

.column3 {
    width: 100px;
    text-align: center;
}

.column4 {
    width: 110px;
    text-align: center;
}

.column5 {
    width: 100px;
    text-align: center;
}

.column6 {
    width: 100px;
    text-align: center;
}


.column7 {
    width: 100px;
    text-align: center;
}
.column8 {
    width: 100px;
    text-align: center;
}
.column9 {
    width: 10px;
    text-align: right;
    padding-right: 62px;
    
}
.column9 a{
    text-decoration: none;
    color: red;
}
.column9 a:hover{
    color: rgb(246, 78, 78);
    cursor: pointer;
}

@media screen and (max-width:992px) {
    table {
        display: block
    }

    table>*,
    table tr,
    table td,
    table th {
        display: block
    }

    table thead {
        display: none
    }

    table tbody tr {
        height: auto;
        padding: 37px 0
    }

    table tbody tr td {
        padding-left: 40% ;
        margin-bottom: 24px
    }

    table tbody tr td:first-child {

        padding-left: 1.9rem;
    }

    table tbody tr td:nth-child(8) {
        margin-bottom: 1rem;
        padding-left: 1.9rem;

    }

    table tbody tr td:last-child {
        margin-bottom: 0;
        padding-left: 1.9rem;
    }

    table tbody tr td:before {
        font-size: 14px;
        color: #999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0
    }



    table tbody tr td:nth-child(2):before {
        content: "Nom"
    }

    table tbody tr td:nth-child(3):before {
        content: "status"
    }

    table tbody tr td:nth-child(4):before {
        content: "Poids max"
    }

    table tbody tr td:nth-child(5):before {
        content: "Hauteur"
    }
    table tbody tr td:nth-child(6):before {
        content: "Largeur"
    }
    table tbody tr td:nth-child(7):before {
        content: "Profondeur"
    }


    td.column1{
        margin-left: 0;
    }

    .column1,
    .column2,
    .column3,
    .column4,
    .column5,
    .column6,
    .column7,
    .column8,
    .column9 {
        text-align: left
    }

    .column4,
    .column5,
    .column8,
    .column1,
    .column2,
    .column3 {
        width: 100%
    }

    tbody tr {
        font-size: 14px
    }
}

@media(max-width:576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px
    }
}


.addButton{
    background-color: #007BFF;
    width: 5.5rem;
    height: 2.4rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  
  }
.addButton:hover{
    background-color: #0761c2;
    cursor: pointer;
}

.makeAvailable{
    background-color: white;
    width: 10rem;
    height: 2rem;
    color: black;
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.makeAvailable:hover{
    background-color: #F5F3F4;
    cursor: pointer;
}
  