.columnTruck1 {
    width: 50px;
    padding-left: 40px;

}

.columnTruck2 {
    width: 160px
}

.columnTruck3 {
    width: 100px;
    text-align: center;
}

.columnTruck4 {
    width: 110px;
    text-align: center;
}

.columnTruck5 {
    width: 100px;
    text-align: center;
}

.columnTruck6 {
    width: 100px;
    text-align: center;
}


.columnTruck7 {
    width: 100px;
    text-align: center;
}
.columnTruck8 {
    width: 150px;
    text-align: center;
}
.columnTruck9 {
    width: 30px;
    text-align: right;
    padding-right: 51px;
    
}


@media screen and (max-width:992px) {

    table tbody tr .columnTruck2:before {
        content: "Nom"
    }
    
    table tbody tr .columnTruck3:before {
        content: "status"
    }

    table tbody tr .columnTruck4:before {
        content: "Poids max"
    }

    table tbody tr .columnTruck5:before {
        content: "Hauteur"
    }
    table tbody tr .columnTruck6:before {
        content: "Largeur"
    }
    table tbody tr .columnTruck7:before {
        content: "Profondeur"
    }

    .columnTruck1,
    .columnTruck2,
    .columnTruck3,
    .columnTruck4,
    .columnTruck5,
    .columnTruck6,
    .columnTruck7,
    .columnTruck8,
    .columnTruck9{
        text-align: left
    }

    .columnTruck8{
        padding-left: 2rem;
    }



}




.makeAvailable{
    background-color: white;
    width: 10rem;
    height: 2rem;
    color: black;
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.makeAvailable:hover:not([disabled]){
    background-color: #F5F3F4;
    cursor: pointer;
}

.makeAvailable:disabled{
    background-color: rgb(228, 228, 228);

}
  