.columnShip1 {
    width: 50px;
    padding-left: 60px;


}

.columnShip2 {
    width: 80px;
}

.columnShip3 {
    width: 80px;
    text-align: left;
}

.columnShip4 {
    width: 80px;
    text-align: left;
    
}

.columnShip5 {
    width: 150px;
    text-align: center;
}

.columnShip6 {
    width: 100px;
    text-align: center;
}


.columnShip4 a,.columnShip3 a {
    text-decoration: none;
    color: rgb(81, 80, 80);
}
.columnShip4 a:hover, .columnShip3 a:hover{
    cursor: pointer;
    color: black;
}


@media screen and (max-width:992px) {

    table tbody tr .columnShip2:before {
        content: "Réference"
    }
    
    table tbody tr .columnShip3:before {
        content: "Livreur"
    }

    table tbody tr .columnShip4:before {
        content: "Client"
    }

   

    .columnShip1,
    .columnShip2,
    .columnShip3,
    .columnShip4,
    .columnShip5,
    .columnShip6{
        text-align: left
    }

    .columnShip5{
        padding-left: 1.8rem;
    }

 

}

.addProdShip{
    background-color: white;
    width: 10rem;
    height: 2rem;
    color: black;
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.addProdShip:hover{
    background-color: #F5F3F4;
    cursor: pointer;
}