@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');
*{
  margin: 0;
  font-family: 'Tiro Gurmukhi', serif;
  
}
body{
  height: 100vh;
}

@import url("./CssStyles/navBar.css");

@import url("./CssStyles/homeBodyLogin.css");
@import url("./CssStyles/footer.css");