@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');
*{
  margin: 0;
  font-family: 'Tiro Gurmukhi', serif;
  
}
body{
  height: 100vh;
}

@import url("./CssStyles/navBar.css");
@import url("./CssStyles/leadingPages.css");
@import url("./CssStyles/footer.css");
@import url("./CssStyles/sideBar.css");
@import url("./CssStyles/tables/table-ship.css");
@import url("./CssStyles/tables/table.css");
@import url("./CssStyles/tables/table-products.css");
@import url("./CssStyles/tables/table-trucks.css");
@import url("./CssStyles/tables/table-client.css");
@import url("./CssStyles/home.css");
@import url("./CssStyles/details.css");
@import url("./CssStyles/login-signup.css");
@import url("./CssStyles/addPages.css");

.body{
  display: flex;
}

.content{
  background-color: #F5F3F4;
  padding: 1.5rem;
  flex-grow: 1;
}
.content h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

footer .contact a:hover{
  color: black
}

