@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');
*{
  margin: 0;
  font-family: 'Tiro Gurmukhi', serif;
  
}
body{
  height: 100vh;
}

@import url("./CssStyles/navBar.css");
@import url("./CssStyles/homeBodyLogin.css");
@import url("./CssStyles/footer.css");
@import url("./CssStyles/sideBar.css");
@import url("./CssStyles/table.css");
@import url("./CssStyles/table-products.css");
@import url("./CssStyles/table-trucks.css");
@import url("./CssStyles/table-client.css");
@import url("./CssStyles/home.css");
@import url("./CssStyles/signup.css");
.body{
  display: flex;
}

.content{
  background-color: #F5F3F4;
  padding: 1.5rem;
  flex-grow: 1;
}
.content h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

footer .contact a:hover{
  color: black
}

.infoField{
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.infoHeader{
  display: inline-block;
  width: 10rem;
  font-weight: 800;
}
.infoData{
  padding-left: 1rem;
}

.details{
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  max-width:30rem;
}
.detailsContainer button{
  background-color: #007BFF;
  width: 5.5rem;
  height: 2.4rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  margin-top: 1rem;

}
.detailsContainer button:hover{
  background-color: #0761c2;
  cursor: pointer;
}